# Data Science Tools and Ecosystem

In this course we will analyse a summary of Data Science Tools and Ecosystem (Exercise 3)

Exercise 10

**Objetives:** 
* Learning the main tools used in the data science ecosystem
* Identifying the leading programming languages for data science
* Analysing how to build basic mathematical expressions

Exercise 4. Some programming languages widely used in data science
1. Pyhton
2. R
3. SQL

Exercise 5. Some of the commonly used libraries in data science are:
1. Pandas
2. PixieDust
3. Kibana
4. Matplotlib
5. Scipy

Exercise 6
|Data Science Tools|
|------------------|
|Git|
|ANACONDA|
|Jupyter|
|IBM Watson Open Scale|

In [26]:
# Exercise 7. Below there are some examples of arithmetic expressions:
5+7, 5+8, 95345+56464, 549-978, 100-35.8756

(12, 13, 151809, -429, 64.12440000000001)

In [30]:
# Exercise 8. This code cell is going to evaluate the following multiplication:
# This simple expression shows a multiplication between natural numbers and then, it's made an addition
(3*4)+5

17

In [34]:
# Exercise 9. Converting hours into minutes. 
# The following expression will convert 200 hours into minutes:
200/60

3.3333333333333335

#Exercise 11. Author

## TAMAYO C. DE VACA ABRAHAM DAVID